<body>

  <!--Nav of Page-->
  
  <div class='Navigation'><span>مناطق ترفيهية</span><button class='back-icon'  [routerLink]="['/home']"><i class="fas fa-arrow-right"></i></button></div>
  
  <div class='place-title'><a>مدينة أرض المرح في محافظة الديوانية</a></div>
  
  <img class='place-img' src='../../assets/picture/3.jpg'/>
  
  <div class='location'>
  <span>ع</span>
  
  <h1>الديوانية / شارع الثورة / مقابل صيدلية النور</h1>
  
  </div>
  
  
  <div class='bg-item2'>
  
      <p>
                                      البرمجة من اجل العراق: وهي مبادرة إنسانية غير ربحية تهدف الى خدمة المجتمع عن طريق البرمجة Programming. تعتبر "Code For IRAQ" مبادرة تعليمية حقيقية ترعى المهتمين بتعلم تصميم وبرمجة تطبيقات الهاتف الجوال ومواقع الانترنت وبرامج الحاسوب والشبكات والاتصالات ونظم تشغيل الحاسوب باستخدام التقنيات مفتوحة المصدر Open Source ، كما توفر لهم جميع الدروس التعليمية اللازمة وبشكل مجاني تماماً.
                              
      </p>
                              
      </div>
                                                              
      
  </body>